body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #0a58ca;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  background: white;
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #0a58ca;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 10px;
  background: #222;
  color: white;
}
